.page-wrapper {
  background: $white;
  margin-top: 32px;
  border-radius: 6px;
}

.page-main-header {
  background-color: $header-bg;

  &-title {
    color: $white;
    padding: 16px;
  }
}

.sub-title {
  color: $sub-header-color;
  background-color: $sub-header-bg;
  padding: 8px 16px 12px;
  font-size: 21px;
  border-radius: 4px;

  a {
    display: flex;
    justify-content: space-between;
    color: $white;

    &:hover, &:focus {
      opacity: 0.75;
    }
  }
}

.block-body {
  padding: 12px
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $text-color;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.card-body {
  li {
    padding-bottom: 8px;
  }

  a {
    color: $text-color;

    &:hover {
      opacity: 0.75;
    }
  }
}
